@import 'tailwindcss/utilities';
@import 'tailwindcss/components';
@import 'tailwindcss/base';


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-app-region: drag; /* make the window draggable */
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select, label, a {
    font: inherit;
    outline: none;
    -webkit-app-region: no-drag; /* make the buttons not draggable, so that we can click on them (electron specific) */
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

::-webkit-scrollbar {
    width: .25rem;
}

::-webkit-scrollbar-thumb {
    background: rgb(51 65 85);
}

::-webkit-scrollbar-track {
    background: rgb(15 23 42);
}
